*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#a{
    width: 500px;
    height: 40px;
    padding: 10px;
    font-family: sans-serif, Courier, monospace;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.2);
    
}
::placeholder{
    font-size: large;
}
#b{
    width: 500px;
    height: 40px;
    padding: 10px;
    font-family: sans-serif, Courier, monospace;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.2);
}
#c{
    width: 500px;
    height: 40px;
    padding: 10px;
    font-family: sans-serif, Courier, monospace;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.2);
}

textarea{
    font-family: 'Courier New', Courier, monospace;
    
}
.home{
    width: 100%px;
    height: 10px;
    /* background-color: rgb(199, 97, 97); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 70px;
    margin-top: 50px;

}
.contactus{
    background-color: red;
    width: 100%;
    height: 120px;
    font-size: 75px;
    text-align: center  ;
  padding-top: 14px;
color: aliceblue;
 box-shadow: 4px 4px 4px rgb(52, 108, 108,0.4);
} 
.submit{
    width: 120px;
    background-color: rgb(43, 29, 29);
    height: 62px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    border-radius: 6px;
    color: aliceblue;
    text-align: center;
    margin-left: 645px;
     box-shadow: 5px 5px 5px grey;
}
.inp{
    padding: 3px 40px;
    border-radius: 5px;
    border: none;
    width: 300px;
    border-radius: 5px;
    height: 20px;
    box-shadow: 2px 3px;
     box-shadow: 5px 5px 5px grey;
    
}

.last {
background-color: rgb(24, 23, 23);
width: 1520px;
height: 50px;
position: absolute;
/* margin-top: 2000px; */
color: aliceblue;
text-align: center;
padding-top: 20px;

}
.nav {
    background-color:aliceblue;
    padding: 18px;
    position: sticky;
     top: 0%; 
     z-index: 999;
     box-shadow: 0px 4px 6px rgb(0, 0, 0.1); 
 } 

a {
    text-decoration: none;
    color: rgb(233, 31, 31);
    /* padding: 18px ; */
}

ul,
li {
    display: inline;
    padding: 25px;
    margin-right: 10px;
}

button {
    float: right;
}  

 a.ac{
    background-color: blue;
    color: beige;
    padding: 18px;
    font-weight: bold;
    border-radius: 6px;
    
}

a:hover {
    /* background-color: blue; */
    color: red;
    font-weight: bold;
}
/* button {
    float: right;
} */


/*input {
    padding: 3px 40px;
    border-radius: 5px;
    box-shadow: 2px 3px;
}*/
.jk{
    text-decoration: none;
    color: black;
     padding: 18px ; 
     font-weight: bold;

}

.smedias{
    font-size: 30px;
}
.blaa{
    color: aliceblue;
}
.blaa:hover{
    color: aqua;
}

/* Footer styles */

.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 20px 30px;
    color: aliceblue;
    background-color: black;
}
.footer-secondary {
    width: 40%;
    display: flex;
}
.address{
    width: 50%;
    /* padding-left: 10px; */
    /* background-color: rgb(182, 182, 194); */
}
.imgl{
    width: 200px;
    background: white;
}
.menu{
    width: 50%;
    /* background-color: rgb(119, 119, 122); */
}
.account{
    width: 20%;
    /* background-color: blue; */
}
.footer1{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    padding-top: 14px;
}
.menu1 a{
    color: white;
}
.acc1 a{
    color: white;
}
.acc1 a:hover{
    color: white;
}
@media only screen and (max-width: 600px)  {
    .footer{
        flex-direction: column-reverse;
    }
    .footer-secondary, .address {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-secondary {
        margin-bottom: 40px;
    }
}